{% extends 'base.html.twig' %}

{% block body %}
<ul>
  <li>
  <a href="{{ path('article_index') }}">Liste des articles</a>
  </li>
  <li>
    <a href="{{ path('tag_index') }}">Liste des tags</a>
  </li>
  <li>
    <a href="{{ path('auteur_index') }}">Liste des auteurs</a>
  </li>
</ul>
{% endblock %}
